<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="902549693692-mbdtfq944jgnssb53uvqg21n152ohnff.apps.googleusercontent.com">
    <environment names="Staging,Production">
        asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
        asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">

        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">

        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="~/js/bootstrap-slider.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HoneymoonShop</title>
    <link rel="stylesheet" href="~/css/bootstrap-slider.css" />
    <link rel="stylesheet" href="~/css/categorySelector.css" />
    <link rel="stylesheet" href="~/css/main.css">
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/fonts/Nexa Bold.otf" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>




    @RenderSection("CustomStyle", false)
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
    <link rel="stylesheet" href="~/css/main.css">
</head>
<body>
    <div class="container @ViewBag.BackgroundStyle">

        <!-- BEGIN HEADER -->
        <div class="row header flex-container flex-header text-center text-uppercase">
            <div class="col-md-1 yellowBorder">
                <a asp-action="Index" asp-controller="Home"><strong>Website</strong></a>
            </div>
            <div class="col-md-1 yellowBorder">
                <a asp-action="Index" asp-controller="DressFinder"><strong>Webshop</strong></a>
            </div>
            <div class="col-md-2 yellowBorder">
                <div class="g-signin2" data-onsuccess="onSignIn"></div>
            </div>
            <div class="col-md-0.5 yellowBorder">
                <div> <a href="#" onclick="signOut();">Sign out</a></div>
                <script>
                    function signOut() {
                        var auth2 = gapi.auth2.getAuthInstance();
                        auth2.signOut().then(function () {
                            console.log('User signed out.');
                        });
                    }
                </script>
            </div>
            <div class="col-md-2 col-md-offset-6 text-right yellowBorder">
                <strong>T</strong> (010) 4126143
            </div>
            <div class="col-md-2 yellowBorder">
                <strong>Wat zoek je?</strong>
            </div>
        </div>
        <script>
            function onSignIn(googleUser) {
                var profile = googleUser.getBasicProfile();
                console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
                console.log('Name: ' + profile.getName());
                console.log('Image URL: ' + profile.getImageUrl());
                console.log('Email: ' + profile.getEmail());
            }
        </script>
        <!-- END HEADER -->
        <!-- BEGIN NAVBAR -->
        <div class="row">
            <!-- IMAGE IN THE BACKGROUND testImage -->
            <nav class="navbar navbar-default flex-navbar">
                <!-- REMOVE 'row' for mobile display-->
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header yellowBorder">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="navbar-brand text-uppercase" href="#">Honeymoon Shop<span class="reg-mark">&reg;</span></div>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right text-uppercase flex-container yellowBorder">
                            <!-- <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li> -->
                            <li><a asp-action="Index" asp-controller="Home"><strong>Home</strong></a></li>
                            <li><a asp-action="Index" asp-controller="DressFinder"><strong>Bruid</strong></a></li>
                            <li><a asp-action="Index" asp-controller="Bruidegom"><strong>Bruidegom</strong></a></li>
                            <li><a asp-action="Index" asp-controller="Winkel"><strong>De winkel</strong></a></li>
                            <li><a asp-action="Index" asp-controller="Blog"><strong>Blog</strong></a></li>
                            <li><a asp-action="Index" asp-controller="Contact"><strong>Contact</strong></a></li>
                            <li>
                                <button onclick="location.href='@Url.Action("AfspraakMaken", "Afspraak")'" type="button" class="btn-standard text-uppercase"><strong>Afspraak maken</strong></button>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
                <!--<img class="img-responsive testImage" src="https://www.placehold.it/1400x800" alt="Image behind navbar" />-->
                <img class="img-responsive testImage" src="@ViewBag.NavBarBG" />
            </nav>
        </div>
        <!-- END NAVBAR -->

        @RenderBody()

        @RenderSection("FooterSection", false)
        <!-- BEGIN FOOTER -->
        <footer>
            <div class="row flex-container footer-container">
                <div class="col-md-3 no-gutter yellowBorder">
                    <img class="img-responsive center-block" src="https://s29.postimg.org/ufiakejyf/Footer_1_3.png" alt="first image">
                </div>
                <div class="col-md-3 no-gutter footer-gutter yellowBorder">
                    <img class="img-responsive center-block" src="https://s24.postimg.org/u4jecevg5/Footer_2_3.png" alt="second image">
                </div>
                <div class="col-md-3 no-gutter footer-gutter yellowBorder">
                    <img class="img-responsive center-block" src="https://s29.postimg.org/bg7a1ir5z/Footer_3_3.png" alt="third image">
                </div>
            </div>

            <div class="row text-center">
                <p>
                    Korte Hoogstraat 4, 3011 GL Rotterdam <strong>email</strong> info@honeymoonshop.nl <strong>Tel:</strong> (010) 412 61 43 <strong>Whatsapp</strong> (06) 25 19 99 27<br />
                    <strong>Openingstijden MA</strong> 12.00-17.30
                    <strong>DI t/m VR</strong> 09.30-17.30
                    <strong>ZA</strong> 09:30-18.00
                    <strong>DI t/m VR</strong> 11.00-17.00
                </p>
            </div>

            <div class="row no-gutter flex-container footer-container">
                <div class="col-md-2 no-gutter yellowBorder">
                    <img src="https://s30.postimg.org/npfor8v2p/Sponsor1.png" alt="sponsor 1">
                </div>
                <div class="col-md-2 no-gutter footer-gutter yellowBorder">
                    <img src="https://s30.postimg.org/5nc27xgkh/Sponsor2.png" alt="sponsor 2">
                </div>
            </div>

            <div class="row flex-container footer-container">
                <div class="col-md-3 yellowBorder">
                    <h4>Winkel</h4>
                    <ul>
                        <li><a href="#"> Over de Honeymoon shop </a></li>
                        <li><a href="#"> Servicepunten </a></li>
                        <li><a href="#">Routebeschrijving</a></li>
                        <li><a href="#">Beurzen en evenementen</a></li>
                        <li><a href="#">Vacatures</a></li>
                        <li><a href="#">Verkoopvoorwaarden</a></li>
                        <li><a href="#">CBW erkend</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-3 yellowBorder">
                    <h4>Service</h4>
                    <ul>
                        <li><a href="#"> Beoordelingen </a></li>
                        <li><a href="#"> Dressfinder</a></li>
                        <li><a href="#">Gratis trouwmagazine</a></li>
                        <li><a href="#">Nieuwsbrief</a></li>
                        <li><a href="#">Veel gestelde vragen</a></li>
                        <li><a href="#">CBW erkend</a></li>
                        <li><a href="#">Reinigen van trouwjurk</a></li>
                        <li><a href="#">10 redenen om je afspraak te maken</a></li>
                        <li><a href="#">The Perfect Match</a></li>
                    </ul>
                </div>
                <div class="col-md-3 yellowBorder">
                    <h4>Acties</h4>
                    <ul>
                        <li><a href="#">The Grand Wedding Show</a></li>
                        <li><a href="#">Summer Sale</a></li>
                        <li><a href="#">Trouwjurken onder de 1000 euro</a></li>
                        <li><a href="#">Trouwjurken voor de volslanke bruid</a></li>
                    </ul>
                </div>
            </div>

        </footer>
        <!-- END FOOTER -->

    </div>

</body>
</html>
