@model HoneymoonShop.Model.DressModels.NewDress

<h1>Voeg een jurk toe</h1>

<head>
    <style>
    
    button {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }

    .add-btn {
        width: 250px;
        padding: 10px 18px;
        background-color: #f44336;
        font-size: 18px;
    }

    .add-btn:hover {
        background: #DF4D42;
    }

    </style>

</head>

<form asp-action="Create" method="post">
    <div class="container admin-login-container">
        <div class="row">
            <div class="col-sm-6 zelfInvullen">

                @ViewData["Name"]
                <div class="form-group">
                    <label asp-for="dress.Name">Naam</label>
                    <input asp-for="dress.Name" class="form-control" />
                    <span asp-validation-for="dress.Name"></span>
                </div>

                @ViewData["PriceIndication"]
                <div class="form-group">
                    <label asp-for="dress.PriceIndication">Prijsindicatie</label>
                    <input asp-for="dress.PriceIndication" class="form-control" />
                    <span asp-validation-for="dress.PriceIndication"></span>
                </div>

                @ViewData["Description"]
                <div class="form-group">
                    <label asp-for="dress.Description">Beschrijving</label>
                    <input asp-for="dress.Description" class="form-control" style="height: 250px" />
                    <span asp-validation-for="dress.Description"></span>
                </div>

            </div>

            <div class="col-sm-6 selectOpties">
                @ViewData["Brand"]
                <div class="form-group">
                    <label asp-for="dress.BrandName">Merk</label>
                    <select name="brand">
                        <option value="" hidden="hidden">Selecteer een merk</option>
                        @foreach (Brand b in Model.Brands) {
                            <option value="@b.Name">@b.Name</option>
                        }
                    </select>
                    <span asp-validation-for="brand"></span>
                </div>

                @ViewData["Silhouettes"]
                <div class="form-group">
                    <label asp-for="dress.Properties">Silhouette</label>
                    <select name="silhouettes">
                        <option value="" hidden="hidden">Selecteer een silhouette</option>
                        @foreach (Property p in Model.Silhouettes) {
                            <option value="@p.PropertyId">@p.Name</option>
                        }
                    </select>
                </div>

                @ViewData["Styles"]
                <div class="form-group">
                    <label asp-for="dress.Properties">Stijl jurk</label>
                    @Html.EditorFor(x => x.Styles)
                </div>

                @ViewData["Necklines"]
                <div class="form-group">
                    <label asp-for="dress.Properties">Neklijn</label>
                    @Html.EditorFor(x => x.Necklines)
                </div>

                @ViewData["Colors"]
                <div class="form-group">
                    <label asp-for="dress.Colors">Kleur</label>
                    @Html.EditorFor(x => x.Colors)
                    <span asp-validation-for="dress.Colors"></span>
                </div>
            </div>

            <div class="col-md-12">

                <div class="col-md-3">

                    @ViewData["PictureURLS"]
                    <div class="form-group">
                        <label asp-for="PictureURLS">Foto URL 1</label>
                        <input name="PictureURLS" class="form-control" />
                        <span asp-validation-for="PictureURLS"></span>
                    </div>

                </div>
                <div class="col-md-3">

                    @ViewData["PictureURLS"]
                    <div class="form-group">
                        <label asp-for="PictureURLS">Foto URL 2</label>
                        <input name="PictureURLS" class="form-control" />
                    </div>

                </div>
                <div class="col-md-3">

                    @ViewData["PictureURLS"]
                    <div class="form-group">
                        <label asp-for="PictureURLS">Foto URL 3</label>
                        <input name="PictureURLS" class="form-control" />
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="form-group  text-center">
        <button type="submit" class="add-btn text-uppercase">Voeg toe</button>
    </div>
</form>