@{
    ViewData["Title"] = "Gegevens invullen";
}

@model HoneyMoonDB.Models.Afspraak

<style>
    .navbar-default .navbar-nav > li > a {
        color: #000;
    }

    .navbar-default .navbar-brand {
        color: #000;
    }
</style>



<div class="row flex-container form-container">
    <div class="col-md-4 yellowBorder" style=" margin-bottom: 140px;-webkit-box-shadow: 1px 1px 10px;box-shadow:1px 1px 10px rgba(136, 136, 136, 1;">
        <h4>Stap 3, Gegevens controleren</h4>
        <p>Controleer al je gegevens voor je pasafspraak bij HoneymoonShop aan Korte Hoogstraat 4, te Rotterdam</p>

        <form action="AfspraakVoltooid">
            <button type="submit" class="btn-standard text-uppercase" style="width:200px;margin-bottom: 180px; margin-top: 20px;"><strong>Afspraak bevestigen</strong></button>
        </form>
    </div>

    <div class="col-md-4 controle-scherm yellowBorder" style=" margin-bottom: 140px;-webkit-box-shadow: 1px 1px 10px;box-shadow:1px 1px 10px rgba(136, 136, 136, 1;">
        <div class="controle-scherm-gegevens" style="color: white;">
            <div class="Titel" style="color:white; display:flex; margin-top:15px;">

                <div style="background-image: url(http://www.iconsdb.com/icons/preview/white/heart-49-xxl.png);
                background-size: 100% 100%;
                height: 15px;
                width: 15px;
                margin-top: 11px;
                margin-right:5px;
                ">


                </div>
                <h4>Controleer je gegevens:</h4>

            </div>



            <br>
            <div class="col-md-12">
                <div class="col-md-6">
                    <div>
                        <label asp-for="Naam">Naam:</label>
                    </div>
                    <div>
                        <label asp-for="TrouwDatum">Trouwdatum:</label>
                    </div>
                    <div>
                        <label asp-for="Telefoonnummer">Telefoon:</label>
                    </div>
                    <div>
                        <label asp-for="Email">E-mail:</label> 
                    </div>
                    <div>
                        <label asp-for="AfspraakDatum"></label>:  
                    </div>
                    <div>
                        <label asp-for="Tijd_FK.ID"></label>:
                    </div>

                </div>

                <div class="col-md-6">
                    <div >
                        @Model.Naam
                    </div>
                    <div>
                        @Model.TrouwDatum.ToString("dd/MM/yyyy")
                    </div>
                    <div>
                        @Model.Telefoonnummer
                    </div>
                    <div>
                        @Model.Email
                    </div>
                    <div>
                        @Model.AfspraakDatum.ToString("dd/MM/yyyy")
                    </div>
                    <div>
                        @Model.Tijd_FK
                        @Model.Tijd_FK.ID
                        @Model.Tijd_FK.tijd
                    </div>
                </div>
                
              
                
            </div>
            <div class="col-md-12" style="bottom:20px;font-size:13px; position:absolute; text-decoration:none; color: white">
                <a href="GegevensInvullen">
                    <div class="Back" style="display:flex;">
                        <div class="backArrow" style="background-image :url(http://oi64.tinypic.com/72t2jt.jpg);
    background-size: 100% 100%;
   bottom: 20px;
    width: 50px;
    height: 22px;
   ">

                        </div>
                        <div class"backText">
                            <span style="font-size:13px;margin-left:10px; text-decoration:none; color: white;">Terug naar stap 2 om je gegevens te wijzigen</span>
                        </div>
                    </div>

                </a>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <img class="img-responsive" src="https://s27.postimg.org/6mzijy2oz/banner_2.png" alt="first image up">
</div>